services:
  cloudflared:
    image: cloudflare/cloudflared:{{ cloudflared_version }}
    container_name: openclaw-tunnel
    command: tunnel run
    environment:
      TUNNEL_TOKEN: "${TUNNEL_TOKEN}"
    networks:
      - proxy-net
      - ingress-net
    restart: unless-stopped

networks:
  proxy-net:
    external: true
    name: openclaw_proxy-net
  ingress-net:
    external: true
    name: openclaw_ingress-net
